.container {
  border: solid; 
  width:200px;
  height: 200px;
  margin:100px;
  overflow: scroll;
  padding-bottom:100px;
  background-image: url("puupy.jpg");
  background-size: 100px;
  background-repeat: repeat-x;
  background-position: right bottom;
}

/*
margin:100px;

  border: dotted green;
  padding-right: 100px;
  background-image: url("puupy.jpg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
/*
#paraTest{color: blue}
#test{color:red}
a{color:yellow} 

a:hover{background-color:green;}





.container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  
  button {
    width: 200px;
  }

  .first{}

 display: flex;
  gap: 0.5rem;
  flex-direction: column;

  
form > * {background-color: blue;
border: solid }

.container {
  border: solid; 
  width: 200px;
  height: 200px;
  overflow:scroll;
}

#list, #list li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
 
}

#list li{
  margin-left: 20px;

}
.container{

 background-image: url("puupy.jpg");
 background-repeat: no-repeat;
 background-size: 100px;
 

}

.container {

   border: solid; 
  width: 200px;
  height: 200px;
  overflow:scroll;
  position:relative;
  left: 25%;
  padding-bottom:50px;
  background-image: url("puupy.jpg");
  background-repeat: repeat-x;
  background-size: 50px;
  background-position: right bottom;
}

*/